body {
  background-image: url("../images/wallpaper_dark.jpg");
}
.theme {
  background-color: #b0c4de;
}
.rounded-corners {
  border-radius: 10px;
}
h2 {
  margin-left: 10px;
}
span {
  margin-left: 10px;
}
