<br/>
<h3 class="content-text">
  RESTAMAZE is founded by Mr. and Mrs. Brown in 2009 <br/>
  First restaurant was established in Kadıköy as only cooking local dishes <br/>
  By 2011, menu has completely changed in accordance with the customers' new tastes <br/>
  In here, you can enjoy Istanbul's most delicious Pizzas and Pastas which you can only find similar tastes in Italy
  where is the land of them! <br/>
  Please enjoy your meal by checking out the spectacular view of RESTAMAZE
</h3>
<br/>

