<div class="header">
  <nav class="navbar navbar-inverse rounded-corners" role="navigation">
    <ul class="nav nav-pills pull-right">
      <li role="presentation" ng-repeat="menuItem in menuItems" style="padding: 10px">
        <a ui-sref="{{menuItem.url}}" class="btn btn-default" style="font-family: 'Questrial';font-size: 18px;">
          {{menuItem.name}}
        </a>
      </li>
    </ul>
    <h2 class="text-muted" style="font-family: 'Lobster Two Italic'; color: #954121" ui-sref="about">RESTAMAZE</h2>
  </nav>
</div>
